
canvas{
	display:block;
	margin: 0 auto;
	background-image:url("datachip.gif");
	z-index:30;
	border: 15px solid transparent;
	padding: 10px;
	border-image:url("matrix.gif") 50 round;
}

html{
	background-image:url("cyber.gif");
}

h1{
	text-align:center;
	font-family: Impact, fantasy;
	font-style: italic;
	color: purple;
	font-size: 55px;
	background-image:url(nightcity.png);
	margin: auto;
	background-size:cover;
}

#winLose{
	padding: 0px;
	background-image:url("lightning.png");
	z-index: 50;
	color:#E80C7A;
	  align-items: center;
  justify-content: center;
   position: fixed;
  display: block ;
  width:50%;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bolder;
  background-size:cover;
}

.v{
	width: 350px;
	margin: 50px;
	margin-top: 100px;
	margin-left:180px;
	border: 10px solid rgba(255,128,32,0.8);
	border-radius:25px;
	float:left;
	position:relative;
	z-index:0;
}

div{
	postion:relative;
	display: inline block;
	margin-top: 40px;
	width: 1150px;
	z-index:10;
}

p{
	color: #FFDF90;
	font-family:impact;
	font-size:20px;
	z-index:10;
}

h2{
	color:#FFDF90;
	font-family: impact;
	z-index:10;
}

.impt{
	color:#FFD00D;
	font-style: italic;
}

#nametag{
	font-size: 34px;
	font-family: Rajdhani;
	color: red;
	text-align: center;
}

#startscreen {
  position: fixed; /* Sit on top of the page content */
  display: ; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 110%; /* Full height (cover the whole page) */
  top: -50px;
  left: 0px;
  right: 0;
  bottom: 0;
  background-image:url("intro.jpg"); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  background-size:cover;

}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 110%; /* Full height (cover the whole page) */
  top: -50px;
  left: 0px;
  right: 0;
  bottom: 0;
  background-image:url("lost.jpg"); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
#text{
  position: absolute;
  top: 65%;
  left: 20%;
  font-size: 30px;
  font-family: 'Rajdhani', sans-serif;
  width: 500px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#start{
	font-size: 100px;
	color:white;
	  transform: translate(55%,60%);
  -ms-transform: translate(-50%,-50%);
  font-family: 'Rajdhani';
  text-transform: uppercase;
  background-color: rgba(255,149,0,0.7);
}
#introtext{
	  position: absolute;
  top: 65%;
  left: 20%;
  font-size: 30px;
  font-family: 'Rajdhani', sans-serif;
  width: 500px;
  color: white;
  transform: translate(-50%,-65%);
  -ms-transform: translate(-50%,-50%);

}
#winscreen {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 110%; /* Full height (cover the whole page) */
  top: -50px;
  left: 0px;
  right: 0;
  bottom: 0;
  background-image:url("winning.jpeg"); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  background-size:cover;
}

#wintext{
	  position: absolute;
  top: 65%;
  left: 20%;
  font-size: 30px;
  font-family: 'Rajdhani', sans-serif;
  width: 500px;
  color: white;
  transform: translate(-50%,-65%);
  -ms-transform: translate(-50%,-50%);

}